<h1>Flight Booker</h1>

<%= form_with url: flights_path, method: :get do |form| %>
<div>
  <%= form.label :departure_airport, "From:"%>
  <%= select_tag(:departure_airport_id, options_for_select(@airports)) %>

  <%= form.label :arrival_airport, "To:"%>
  <%= select_tag(:arrival_airport_id, options_for_select(@airports)) %>
</div>

<div>
  <%= form.label :date, "Date:" %>
  <%= select_tag(:date, options_for_select(@available_dates.map {|d| [Date.parse(d).strftime("%d/%m"), d]})) %>
</div>

<div>
  <%= form.label :num_passengers, "Number of Passengers:" %>
  <%= form.select(:num_passengers, 1..4 )%>
</div>
<%= form.submit "Search" %>
<% end %>

<br><br>

<% if @flights.present? %>
  <%= form_with url: new_booking_path, method: :get do |form| %>
        <%= form.collection_radio_buttons :flight_id, @flights, :id, :id do |builder|%>
            <%=builder.radio_button%>
            <%= builder.label do %>
                From: <%= builder.object.departure_airport.code %>
                →
                <%= builder.object.arrival_airport.code %>
                |
                <%= builder.object.date.strftime("%H:%M %m/%d/%Y") %>
        <% end %>
            
        <%end%>

        <%=form.hidden_field :num_passengers, value: @num_passengers%>
        <%= form.submit "Book flight"%>
    <%end%>
<% end %>
